 <!DOCTYPE HTML>
<html lang="farsi" dir="rtl">
<head>
    <!--Title-->
    <title>هاستیکو</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <!--description-->
    <meta name="description" content="هاستیکو یک قالب HTML5 چند منظوره نمونه صفحه اصلی آماده با طراحی خلاقانه، مدرن، جذاب بصری و واکنش‌پذیر بر پایه بوت‌استرپ است.">
    <!--Key Words-->
    <meta name="keywords" content="">
    <!--bootstrap-->
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400&display=swap" rel="stylesheet">
    <!--fontawesome style-->
    <link rel="stylesheet" href="assets/css/fonts-awesome.min.css">
    <!--style-->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="shortcut icon" href="assets/images/favicon.png">
</head>
<body class="rubik_font">
<!--Start Slider Section-->
<section class="bg_home_page color_fff">
    <nav class="navbar navbar-expand-lg top_navigation" id="navigation01">
        <div class="container">
            <a class="logo navbar-brand" href="index.html"><img src="assets/images/logo.svg" alt="تصویر لوگو"></a>
            <button class="cmn-toggle-switch cmn-toggle-switch__htx navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span>منوی تغییر حالت</span>
            </button>
            <div class="collapse navbar-collapse navigation justify-content-between" id="navbarSupportedContent">
                <ul class="navbar-nav menubar margin_0_auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="index.html">خانه <span class="sr-only">(کنونی)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown01" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            هاستینگ
                        </a>
                        <div class="container dropdown-menu dropdown_menu padding_tb_40" aria-labelledby="navbarDropdown01">
                            <div class="col-xl-4 col-lg-4 col-md-12 float-left dropdown_menu_list">
                                <a class="dropdown-item dd_bg_01" href="shared_hosting.html">
                                    <div class="menu_content">
                                        <span>هاست وب</span>
                                        لورم ایپسوم دلور سیت امت، کنستتور آدیپیسینگ ایلیتنیان
                                    </div>
                                </a>
                                <a class="dropdown-item dd_bg_02" href="reseller_hosting.html">
                                    <div class="menu_content">
                                        <span>هاست ری‌سلر</span>
                                        لورم ایپسوم دلور سیت امت، کنستتور آدیپیسینگ ایلیتنیان
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 float-left dropdown_menu_list">
                                <a class="dropdown-item dd_bg_03" href="vps_hosting.html">
                                    <div class="menu_content">
                                        <span>هاست VPS</span>
                                        لورم ایپسوم دلور سیت امت، کنستتور آدیپیسینگ ایلیتنیان
                                    </div>
                                </a>
                                <a class="dropdown-item dd_bg_04" href="dedicated_hosting.html">
                                    <div class="menu_content">
                                        <span>هاست اختصاصی</span>
                                        لورم ایپسوم دلور سیت امت، کنستتور آدیپیسینگ ایلیتنیان
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4 col-lg-4 menu_advertise_box float-left margin_top_15">
                                <div class="bg_menu_hosting text-center">
                                    <h5>موقعیت‌های هاستینگ<br>
                                        در سراسر جهان</h5>
                                    <a href="#" class="btn_hosting_location">مشاهده موقعیت‌ها</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="domain.html">دامنه</a>
                    </li>
                    <li class="nav-item dropdown company_dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown02" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            شرکت
                        </a>
                        <div class="dropdown-menu dropdown_company" aria-labelledby="navbarDropdown02">
                            <a class="dropdown-item" href="about.html">
                                <div class="submenu_text">
                                    <span>درباره ما</span>
                                </div>
                            </a>
                            <a class="dropdown-item" href="network.html">
                                <div class="submenu_text">
                                    <span>شبکه</span>
                                </div>
                            </a>
                            <a class="dropdown-item" href="contact.html">
                                <div class="submenu_text">
                                    <span>تماس با ما</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown03" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            WHMCS
                        </a>
                        <div class="container dropdown-menu dropdown_submenu" aria-labelledby="navbarDropdown03">
                            <div class="col-xl-4 col-lg-4 col-md-12 float-left padding_r">
                                <a class="dropdown-item sb_dd_01" href="//akdesigner.com/whmcs-templates/?systpl=hostiko&layout=19">
                                    <div class="menu_text"> <span>اعلانات</span>
                                    </div>
                                </a>
                                <a class="dropdown-item sb_dd_02" href="//akdesigner.com/whmcs-templates/clientarea.php?action=services&systpl=hostiko&layout=19">
                                    <div class="menu_text"> <span>خدمات شما</span>
                                    </div>
                                </a>
                                <a class="dropdown-item sb_dd_03" href="//akdesigner.com/whmcs-templates/clientarea.php&systpl=hostiko&layout=19">
                                    <div class="menu_text"> <span>به‌روزرسانی جزئیات</span>
                                    </div>
                                </a>
                                <a class="dropdown-item sb_dd_04" href="//akdesigner.com/whmcs-templates/clientarea.php?action=creditcard&systpl=hostiko&layout=19">
                                    <div class="menu_text"> <span>به‌روزرسانی کارت‌های اعتباری</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 float-left padding_r">
                                <a class="dropdown-item sb_dd_05" href="//akdesigner.com/whmcs-templates/clientarea.php?action=domains&systpl=hostiko&layout=19">
                                    <div class="menu_text"> <span>دامنه‌های شما</span>
                                    </div>
                                </a>
                                <a class="dropdown-item sb_dd_06" href="//akdesigner.com/whmcs-templates/submitticket.php?step=2&deptid=1&systpl=hostiko&layout=19">
                                    <div class="menu_text"> <span>ثبت تیکت</span>
                                    </div>
                                </a>
                                <a class="dropdown-item sb_dd_07" href="//akdesigner.com/whmcs-templates/clientarea.php?action=masspay&all=true&systpl=hostiko&layout=19">
                                    <div class="menu_text"> <span>مشارکت در فروش</span>
                                    </div>
                                </a>
                                <a class="dropdown-item sb_dd_08" href="//akdesigner.com/whmcs-templates/clientarea.php?action=addcontact&systpl=hostiko&layout=19">
                                    <div class="menu_text"> <span>مدیریت تماس‌ها</span>
                                    </div>
                                </a>
                            </div>
                            <div class="col-xl-4 col-lg-4 menu_advertise_box float-left margin_top_40">
                                <div class="bg_submenu">
                                    <figure><img src="assets/images/hostiko_whmcs.png" alt="" class="img-fluid"></figure>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="blog.html">وبلاگ</a>
                    </li>
                </ul>
                <a href="#" class="btn_top_nav">پشتیبانی</a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row padding_top_150">
            <div class="col-xl-12 col-lg-12">
                <h1 class="font_size_80 font_weight_900 line_height_82 text-uppercase margin_bottom_10">سریع‌ترین
                    هاست وب</h1>
                <p class="font_size_30 line_height_30 font_weight_600 margin_bottom_25">راه حل بهینه برای وب‌سایت‌های سریع و قابل اعتماد</p>

                <a href="shared_hosting.html" class="btn_banner01">سفارش هاست</a>
                <a href="shared_hosting.html" class="btn_banner02">بیشتر بخوانید</a>
            </div>
        </div>
    </div>
</section>
<!--End Slider Section-->
<!--Search Domain-->
<section class="padding_top_200 padding_bottom_100 text-center search_domain_section">
    <div class="container">
        <h2 class="font_size_40 font_weight_500 color_212529 margin_bottom_15">نام دامنه <span class="color_5c43bc font_weight_900">بی نقص</span> خود را پیدا کنید</h2>
        <p class="font_size_24 font_weight_400 color_454545 margin_bottom_35">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
        </p>
        <div class="banner_search_box text-center">
            <form action="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko&layout=19&a=add&domain=register" method="post">
                <div class="search_area input-effect float-left">
                    <input type="text" placeholder="نام دامنه خود را وارد کنید" class="text_field pull-left effect-20" name="query" size="20">
                </div>
                <div class="btn_submit float-right margin_right_15">
                    <input type="submit" class="search_btn text-uppercase bg_color_1d1261" value="جستجو">
                </div>
            </form>
        </div>
        <ul class="available_domains">
            <li><figure><img src="assets/images/com.png" alt=""></figure>
                <div class="domain_price">412<span class="amount"> تومان</span>/سالانه</div>
            </li>
            <li><figure><img src="assets/images/co.png" alt=""></figure>
                <div class="domain_price">120<span class="amount"> تومان</span>/سالانه</div>
            </li>
            <li><figure><img src="assets/images/ca.png" alt=""></figure>
                <div class="domain_price">299<span class="amount"> تومان</span>/سالانه</div>
            </li>
            <li><figure><img src="assets/images/org.png" alt=""></figure>
                <div class="domain_price">399<span class="amount"> تومان</span>/سالانه</div>
            </li>
            <li><figure><img src="assets/images/asia.png" alt=""></figure>
                <div class="domain_price">499<span class="amount"> تومان</span>/سالانه</div>
            </li>
        </ul>
    </div>
</section>
<!--Ends Here-->

    <!--Why Hostiko Section-->
    <section class="padding_top_100 padding_bottom_100 text-center bg_color_f3f3f3 why_choose_hosting">
        <div class="container">
            <h2 class="font_size_40 font_weight_500 color_212529 line_height_54 margin_bottom_10">چرا هاستیکو؟<br> <span class="color_5c43bc font_weight_900">ما در راستای میزبانی وب قابل اعتماد اولین هستیم</span></h2>
            <p class="font_size_24 font_weight_300 color_454545 margin_bottom_35">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.<br>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4 col-6 margin_box"><div class="why_hosting_box"><figure><img src="assets/images/independent_icon.png" alt=""></figure> مالکیت مستقل</div></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-6 margin_box"><div class="why_hosting_box"><figure><img src="assets/images/passion_privacy.png" alt=""></figure> علاقه به حریم خصوصی</div></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-6 margin_box"><div class="why_hosting_box"><figure><img src="assets/images/scurity.png" alt=""></figure> تعهد به امنیت</div></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-6"><div class="why_hosting_box"><figure><img src="assets/images/ssd_storage.png" alt=""></figure> پذیرش منبع باز</div></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-6"><div class="why_hosting_box"><figure><img src="assets/images/24hour_support.png" alt=""></figure> پشتیبانی 24/7</div></div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-6"><div class="why_hosting_box"><figure><img src="assets/images/100%25_uptime.png" alt=""></figure> 100% آپتایم</div></div>
            </div>
        </div>
    </section>
    
    <!--End Here-->
    <!--Hosting Plans-->
    <section class="padding_top_100 padding_bottom_100 text-center color_fff bg_web_hosting">
        <h2 class="font_size_40 line_height_54 font_weight_500 margin_bottom_5">محصولات
            <span class="font_weight_900">هاستیکو را بشناسید</span></h2>
        <p class="font_size_24 font_weight_400 margin_bottom_35">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.<br>
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="web_hosting_box">
                        <h3>هاست اشتراکی</h3>
                        <div class="hosting_price"><span class="hosting_amount">299</span> تومان/ماه</div>
                        <ul class="web_hosting_list">
                            <li>10 گیگابایت فضای دیسک</li>
                            <li>100 گیگابایت پهنای باند</li>
                            <li>1 پایگاه داده MySQL</li>
                            <li>1 کاربر FTP</li>
                            <li>1 حساب ایمیل</li>
                            <li>پنل کنترل قدرتمند</li>
                        </ul>
                        <a href="shared_hosting.html" class="btn_hosting_box">سفارش</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="web_hosting_box active">
                        <h3> VPS</h3>
                        <div class="hosting_price"><span class="hosting_amount">325</span> تومان/ماه</div>
                        <ul class="web_hosting_list">
                            <li>10 گیگابایت فضای دیسک</li>
                            <li>100 گیگابایت پهنای باند</li>
                            <li>1 پایگاه داده MySQL</li>
                            <li>1 کاربر FTP</li>
                            <li>1 حساب ایمیل</li>
                            <li>پنل کنترل قدرتمند</li>
                        </ul>
                        <a href="dedicated_hosting.html" class="btn_hosting_box">سفارش</a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4">
                    <div class="web_hosting_box">
                        <h3>هاستینگ اختصاصی</h3>
                        <div class="hosting_price"><span class="hosting_amount">399</span> تومان/ماه</div>
                        <ul class="web_hosting_list">
                            <li>10 گیگابایت فضای دیسک</li>
                            <li>100 گیگابایت پهنای باند</li>
                            <li>1 پایگاه داده MySQL</li>
                            <li>1 کاربر FTP</li>
                            <li>1 حساب ایمیل</li>
                            <li>پنل کنترل قدرتمند</li>
                        </ul>
                        <a href="vps" class="btn_hosting_box">سفارش</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Ends Here-->
    <!--Cloud Products Starting Here-->
    <section class="padding_top_100 padding_bottom_100 text-center cloud_product_section">
        <div class="container">
            <h2 class="font_size_40 line_height_54 font_weight_500 margin_bottom_10 color_212529">و محصولات
                <span class="font_weight_900 color_5c43bc">ابری ما</span></h2>
            <p class="font_size_24 font_weight_400 margin_bottom_35 color_454545">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.<br>  </p>
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="product_box">
                        <figure><img src="assets/images/product_icon1.png" alt=""></figure>
                        <h3>ما در هر مرحله‌ی راه با شما هستیم</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="product_box">
                        <figure><img src="assets/images/product_icon2.png" alt=""></figure>
                        <h3>اجازه دهید سایت موجود شما را برایتان انتقال دهیم</h3>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.<br> </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Ends Here-->
    <!--Build Your Own Website Section-->
    <section class="padding_top_70 padding_bottom_70 text-center color_fff bg_build_website">
        <div class="container">
            <h2 class="font_size_40 line_height_54 font_weight_500 margin_bottom_5">امروز وب‌سایت رویاهایتان را بسازید</h2>
            <p class="font_size_20 font_weight_300 line_height_28">لورم ایپسوم دلور سیت آمت نسدو تیناسدفم تریتانی امیت کی می<br> اوبلیک تائیماتس. سواس کوئدسی تایمیم نو می دوسندی.</p>
            <div class="margin_top_20">
                <div class="get_started_price_tag margin_right_20">ابتدا از
                    <span class="price_amount color_5c43bc font_weight_400">7.99 تومان</span>
                    /ماه
                </div>
                <a href="//akdesigner.com/whmcs-templates/cart.php?systpl=hostiko-layout9&carttpl=hostiko" class="btn_get_started">شروع کنید</a>
            </div>
        </div>
    </section>
    
    <!--Ends Here-->
    <!--Testimonial Starts Here-->
    <section class="padding_top_100 padding_bottom_400 text-center testimonial_section">
        <div class="container">
            <figure class="margin_bottom_10"><img src="assets/images/round_star.png" alt=""></figure>
            <h2 class="font_size_40 font_weight_600 color_212529 margin_bottom_15">چرا مشتریان ما <span class="color_5c43bc">ما را دوست دارند!</span></h2>
            <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
                <!-- نمایشگرها -->
                <ul class="carousel-indicators">
                    <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
                    <li data-target="#testimonial_slider" data-slide-to="1"></li>
                    <li data-target="#testimonial_slider" data-slide-to="2"></li>
                    <li data-target="#testimonial_slider" data-slide-to="3"></li>
                </ul>
                <!-- اسلایدشو -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="text-center margin_bottom_35">
                            <div class="testimonial_rating d-inline-block margin_right_15">
                                <span>4.9/5</span>
                            </div>
                            <div class="d-inline-block text-left">
                                <figure><img src="assets/images/testimonial_star.png" alt=""></figure>
                                <span><a href="#">www.websitename.com</a></span>
                            </div>
                        </div>
                        <p class="font_size_20 font_weight_400 line_height_34 color_454545 padding_lr_95">لورم ایپسوم دلور سیت آمت نسدو تیناسدفم تریتانی امیت کی می<br> اوبلیک تائیماتس. سواس کوئدسی تایمیم نو می دوسندی. اکس دوسندی انتیوپام ایندوکتوم مئی ائم اد ولیت موکیوس گرایکو.
                        </p>
                    </div>
                    <div class="carousel-item">
                        <div class="text-center margin_bottom_35">
                            <div class="testimonial_rating d-inline-block margin_right_15">
                                <span>4.9/5</span>
                            </div>
                            <div class="d-inline-block text-left">
                                <figure><img src="assets/images/testimonial_star.png" alt=""></figure>
                                <span><a href="#">www.websitename.com</a></span>
                            </div>
                        </div>
                        <p class="font_size_20 font_weight_400 line_height_34 color_454545 padding_lr_95">لورم ایپسوم دلور سیت آمت نسدو تیناسدفم تریتانی امیت کی می<br> اوبلیک تائیماتس. سواس کوئدسی تایمیم نو می دوسندی. اکس دوسندی انتیوپام ایندوکتوم مئی ائم اد ولیت موکیوس گرایکو.
                        </p>
                    </div>
                    <div class="carousel-item">
                        <div class="text-center margin_bottom_35">
                            <div class="testimonial_rating d-inline-block margin_right_15">
                                <span>4.9/5</span>
                            </div>
                            <div class="d-inline-block text-left">
                                <figure><img src="assets/images/testimonial_star.png" alt=""></figure>
                                <span><a href="#">www.websitename.com</a></span>
                            </div>
                        </div>
                        <p class="font_size_20 font_weight_400 line_height_34 color_454545 padding_lr_95">لورم ایپسوم دلور سیت آمت نسدو تیناسدفم تریتانی امیت کی می<br> اوبلیک تائیماتس. سواس کوئدسی تایمیم نو می دوسندی. اکس دوسندی انتیوپام ایندوکتوم مئی ائم اد ولیت موکیوس گرایکو.
                        </p>
                    </div>
                    <div class="carousel-item">
                        <div class="text-center margin_bottom_35">
                            <div class="testimonial_rating d-inline-block margin_right_15">
                                <span>4.9/5</span>
                            </div>
                            <div class="d-inline-block text-left">
                                <figure><img src="assets/images/testimonial_star.png" alt=""></figure>
                                <span><a href="#">www.websitename.com</a></span>
                            </div>
                         </div>
                        <p class="font_size_20 font_weight_400 line_height_34 color_454545 padding_lr_95">لورم ایپسوم دلور سیت آمت نسدو تیناسدفم تریتانی امیت کی می<br> اوبلیک تائیماتس. سواس کوئدسی تایمیم نو می دوسندی. اکس دوسندی انتیوپام ایندوکتوم مئی ائم اد ولیت موکیوس گرایکو.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Ends Here-->
    <!--Footer Section-->
    <section class="padding_bottom_100 padding_top_100 bg_color_212529 footer_section color_fff">
        <div class="container footer_logo">
            <div class="row padding_top_180 margin_bottom_30">
                <div class="col-xl-3 col-lg-3 col-md-3 footer_column">
                    <div class="footer_pages_link">
                        <h4>محصولات</h4>
                        <ul class="footer_pages_link_list">
                            <li><a href="shared_hosting.html">هاست اشتراکی</a></li>
                            <li><a href="reseller_hosting.html">هاست نمایندگی</a></li>
                            <li><a href="vps_hosting.html">سرورهای مجازی</a></li>
                            <li><a href="dedicated_hosting.html">سرورهای اختصاصی</a></li>
                            <li><a href="domain.html">نام‌های دامنه</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 footer_column">
                    <div class="footer_pages_link">
                        <h4>محصولات</h4>
                        <ul class="footer_pages_link_list">
                            <li><a href="about.html">درباره ما</a></li>
                            <li><a href="#">بازاریابی</a></li>
                            <li><a href="blog.html">وبلاگ</a></li>
                            <li><a href="contact.html">تماس با ما</a></li>
                            <li><a href="#">اخبار</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 footer_column">
                    <div class="footer_pages_link">
                        <h4>پشتیبانی</h4>
                        <ul class="footer_pages_link_list">
                            <li><a href="#">مرکز دانش</a></li>
                            <li><a href="#">انجمن‌ها</a></li>
                            <li><a href="#">وضعیت سیستم</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 footer_column">
                    <div class="footer_contact_info">
                        <h4>تماس با ما</h4>
                        <ul>
                            <li><div class="address_box">آدرس:</div><span> ایران، تهران، تجریش، دفتر مرکزی هاستیکو</span></li>
                            <li><a href="Mailto:info@hostiko.com">ایمیل: <span> info@hostiko.com</span></a></li>
                            <li><a href="tel:09120001111">تلفن: <span> 09120001111</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 footer_column">
                    <div class="footer_pages_link">
                        <h4>قانونی</h4>
                        <ul class="footer_pages_link_list">
                            <li><a href="#">اطلاعات قانونی</a></li>
                            <li><a href="#">جستجوی Whois</a></li>
                            <li><a href="#">سیاست حریم خصوصی</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 footer_column">
                    <div class="footer_pages_link">
                        <h4>ورود</h4>
                        <ul class="footer_pages_link_list">
                            <li><a href="#">وب‌میل</a></li>
                            <li><a href="#">سازنده وبسایت</a></li>
                            <li><a href="shared_hosting.html">هاست اشتراکی</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 footer_column">
                    <div class="footer_pages_link">
                        <h4>ما را دنبال کنید</h4>
                        <ul class="footer_social_links">
                            <li><i class="fa fa-twitter"></i> <a href="#">توییتر</a></li>
                            <li><i class="fa fa-facebook"></i> <a href="#">فیس‌بوک</a></li>
                            <li><i class="fa fa-google-plus"></i> <a href="#">گوگل پلاس</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3">
                    <div class="footer_site_link">
                        <figure><img src="assets/images/footer_logo.svg" alt=""></figure>
                        <h6 class="line_height_19 font_size_14 color_bfbfbf font_weight_300">کپی‌رایت @ 2019 <br><span><a href="index.html">Hostiko.com</a></span><br> تمامی حقوق محفوظ است</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!--Ends Here-->
    <!-- <script src="assets/js/jquery-3.3.1.min.js"></script> -->
    <!-- <script src="assets/js/bootstrap.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.rtlcss.com/bootstrap/v4.5.3/js/bootstrap.bundle.min.js" integrity="sha384-40ix5a3dj6/qaC7tfz0Yr+p9fqWLzzAXiwxVLt9dw7UjQzGYw6rWRhFAnRapuQyK" crossorigin="anonymous"></script>

    <script>
        (function() {

            "use strict";

            var toggles = document.querySelectorAll(".cmn-toggle-switch");

            for (var i = toggles.length - 1; i >= 0; i--) {
                var toggle = toggles[i];
                toggleHandler(toggle);
            };

            function toggleHandler(toggle) {
                toggle.addEventListener( "click", function(e) {
                    e.preventDefault();
                    (this.classList.contains("active") === true) ? this.classList.remove("active") : this.classList.add("active");
                });
            }

        })();
    </script>
    </body>
</html>

